<div class="container chats">
    <div class="row">
      <div class="col-md-10 chat">
        <div class="conversation1" *ngFor="let message of messages">
            <p class="big">{{ message.contents }}</p>
            <p class="small">Sent by {{ message.sender_id }}</p>
            <p class="small">{{ message.time_sent }}</p>
        </div>
        <div class="container">
          <div class="form">
            <input type="text" placeholder="message" id="message">
            <button class="btn btn-success" (click)="send()">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>