<div class="container chats">
    <div class="row">
      <div class="col-md-10 chat">
        <p class="center">17 APril 2019, Chat with Bebby</p>
        <div class="conversation1">
            <p>Hello, what is your name?</p>
            <p class="date">Bebby 17 April 2019 12:50<p>
        </div>
        <div class="conversation2">
          <p>Hi there my name is Angela</p>
          <p class="date">Angela 17 April 2019 12:50<p></p>
        </div>
        <div class="form">
          <input type="text" placeholder="message">
          <button class="btn btn-success">Send</button>
        </div>
      </div>
      <div class="col-md-2 avatar">
        <div class="available">
          <button></button>
          <img src="/assets/avatar.png">
        </div>
        <p>Angela</p>
        <div class="available">
            <button class="online"></button>
            <img src="/assets/avatar.png">
          </div>
        <p>Mizero</p>
        <div class="available">
            <button></button>
            <img src="/assets/avatar.png">
          </div>
        <p>Bernard</p>
        <div class="available">
            <button></button>
            <img src="/assets/avatar.png">
          </div>
        <p>Alice</p>
        <div class="available">
            <button class="online"></button>
            <img src="/assets/avatar.png">
          </div>
        <p>Aline</p>
      </div>
    </div>
  </div>