<div class="container">
    <div class="jumbotron">
      <h1>Admin Dashboard</h1>
      <br>
      <a target=_blank class="btn btn-primary" href="{{ environment.antiCyberbullyingServiceUrl + '/anti_cyberbullying'}}" role="button">Anti-Cyberbullying Service</a>
      <br><br>
      <a target=_blank class="btn btn-primary" href="{{ environment.adServiceUrl + '/ads'}}" role="button">Advertisement Service</a>
    </div>
      <h6 class="text-success" id="success" style="text-align:center;"></h6>
      <h3>Post Statistics</h3>
      <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Day</th>
              <th scope="col">Number of posts</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let day of statsDays">
              <td>{{day}}</td>
              <td>{{stats[day]}}</td>
            </tr>
          </tbody>
        </table>

      <h3>User Statistics</h3>
      <h5 style="text-align: center;">{{ numberUsers }} Number of users in the system</h5>

      <h3>Manage Users</h3>
      <ul *ngFor="let user of users" class="list-group">
        <li class="list-group-item">
        {{ user.username }}
        <button type="submit" class="btn btn-danger" value={{item}} (click)="submit(user.id)">Delete</button>
        <button type="button" class="btn btn-warning" (click)="block(user.id)">Block</button>
        <button type="button" class="btn btn-warning" (click)="unblock(user.id)">Unblock</button>
        </li>
      </ul>
      
  </div>

