<div class="container">
    <div class="jumbotron">
      <h1>Welcome you are an admin</h1>      
      <p>This is the list of users</p>
      <a class="btn btn-primary" href="#" role="button">Anti-Cyberbullying Service</a>
      <a class="btn btn-primary" href="#" role="button">Advertisement Service</a>
    </div>
      <h5 style="text-align: center;">{{ numberUsers }} Number of users in the system and {{numberPosts}} written posts today</h5>
      
      <ul *ngFor="let user of users" class="list-group">
        <li class="list-group-item">
        {{ user.username }}
        <button type="submit" class="btn btn-danger" value={{item}} (click)="submit(user.id)">Delete</button>
        <button type="button" class="btn btn-warning" (click)="block(user.id)">Block</button>
        </li>
      </ul>
      
  </div>

