<div class="container">
    <div class="jumbotron">
      <h1>Welcome you are an admin</h1>      
      <p>This is the list of users</p>
      <a class="btn btn-primary" href="#" role="button">Anti-Cyberbullying Service</a>
      <a class="btn btn-primary" href="#" role="button">Advertisement Service</a>
    </div>
      <ul *ngFor="let item of users" class="list-group">
        <li class="list-group-item">
        {{ item }}
        <button type="submit" class="btn btn-danger" value={{item}} (click)="submit($event)">Delete</button>
        <button type="button" class="btn btn-warning">Block</button>
        </li>
      </ul>   
  </div>

