<div class="container">
  <input class="from-control search" type="text" placeholder="Search friends">
  <div class="row profile-header">
    <img src="/assets/avatar.png">
    <p>Angela Mizero</p>
    <button class="btn btn-success">500 calories burnt</button>
    <button class="btn btn-success">2Km traveled</button>
    <input class="form-control" type="text" placeholder="Distance traveled">
  </div>
  <div class="row addContainer">
    <button class="add">+</button>
  </div>
  <div class="row posts">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-info">Angie</button>
              <button class="btn btn-info">Leandre</button>
              <button class="btn btn-info">Anoushe</button>
              <br>
              <a href="#" class="card-link">11 April 2019</a>
              <a href="#" class="card-link">25 <span class="glyphicon glyphicon-search"></span> Likes</a>
              <a href="#" class="card-link">2 Comments</a>
              <hr>
              <p>I liked this article</p>
              <span class="timestampComment">By Angie on 12 APril 12:50</span>
              <hr class="separate">
              <p>Amazing!!!</p>
              <span class="timestampComment">By Angie on 12 APril 12:50</span>
              <hr class="separate">
              <p>Nice article!!</p>
              <span class="timestampComment">By Angie on 12 APril 12:50</span>
              <hr class="separate">
              <input class="form-control" type="text" placeholder="comment">
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-info">Angie</button>
              <button class="btn btn-info">Leandre</button>
              <button class="btn btn-info">Anoushe</button>
              <br>
              <a href="#" class="card-link">11 April 2019</a>
              <a href="#" class="card-link">25 <span class="glyphicon glyphicon-search"></span> Likes</a>
              <a href="#" class="card-link">2 Comments</a>
              <hr>
              <p>I liked this article</p>
              <span class="timestampComment">By Angie on 12 APril 12:50</span>
              <hr class="separate">
              <p>Amazing!!!</p>
              <span class="timestampComment">By Angie on 12 APril 12:50</span>
              <hr class="separate">
              <p>Nice article!!</p>
              <span class="timestampComment">By Angie on 12 APril 12:50</span>
              <hr class="separate">
              <input class="form-control" type="text" placeholder="comment">
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-info">Angie</button>
              <button class="btn btn-info">Leandre</button>
              <button class="btn btn-info">Anoushe</button>
              <br>
              <a href="#" class="card-link">11 April 2019</a>
              <a href="#" class="card-link">25 <span class="glyphicon glyphicon-search"></span> Likes</a>
              <a href="#" class="card-link">2 Comments</a>
              <hr>
              <p>I liked this article</p>
              <span class="timestampComment">By Angie on 12 APril 12:50</span>
              <hr class="separate">
              <p>Amazing!!!</p>
              <span class="timestampComment">By Angie on 12 APril 12:50</span>
              <hr class="separate">
              <p>Nice article!!</p>
              <span class="timestampComment">By Angie on 12 APril 12:50</span>
              <hr class="separate">
              <input class="form-control" type="text" placeholder="comment">
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </div>
    </div>
  </div>
</div>