<div class="container-fluid">
      <h1 class="center">Your Newsfeed</h1>

      <table>
        <tr>
          <!--   ADS       -->
          <td style="width: 50%" class="align-top">
            <div class="row">
              <img width=400 height=400 src="{{imageRoot}}/ads/{{adsImage}}" class="rounded mx-auto d-block border border-success" alt="Some advertisement">
            </div>
          </td>

          <!--   NEWSFEED       -->
          <td style="width: 50%">
            <div class="row col-12 mb-3">
              <div class="col-12 mb-3">
               <div class="card">
                  <div class="card-body">
                    <h6 class="text-danger" id="danger" style="text-align:center;"></h6>
                    <h6 class="text-success" id="success" style="text-align:center;"></h6>
                    <h3>Create new post:</h3>
                    <form action="#" method="POST">
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" rows="5" id="message" placeholder="Enter your message"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="tags">Tag users</label>
                            <input type="text" class="form-control" id="tags" name="tags" placeholder="Enter people's name">
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="submit($event)">Submit</button>
                    </form>
                  </div>
               </div>
               </div>
            </div>

            <div class="row" *ngFor="let post of posts">
              <div class="col-12 mb-3">
              <div class="card">
                  <div class="card-body">
                    <h4 class="card-text"><b>{{usersObject[post.creator]}}:</b></h4>
                    <p class="card-text">{{post.content}}</p>
                    <a>{{likesLength}} likes</a>
                    <div class="timestampComment"> {{post.created_date}}</div>
                  
                    <div *ngFor="let tag of tags[post.id]">
                      <button class="btn btn-info">{{usersObject[tag.user_id]}}</button>
                    </div>
                    <button class="btn btn-danger pull-right" (click)="like(post.id)">Like</button>
                    <br>
                    <hr>
                    <div class="row" *ngFor="let comment of comments[post.id]" class="inline">
                      <p style="display:block"><b>{{usersObject[comment.creator]}}</b>: {{comment.content}}</p>
                      <div class="timestampComment"> {{comment.created_date}}</div>
                		<hr>
                	</div>
                    <input class="form-control" id={{post.id}} type="text" placeholder="Comment">
                    <br>
                    <button class="btn btn-danger pull-right" (click)="comment(post.id)">Comment</button>
                  </div>
              </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
  </div>
