<div class="container-fluid">
      <h1 class="center">Your Newsfeed</h1>

      <table>
        <tr>
          <!--   ADS       -->
          <td style="width: 50%" class="align-top">
            <div class="row">
              <img width=400 height=400 src="..." class="rounded mx-auto d-block border border-success" alt="Some advertisement">
            </div>
          </td>

          <!--   NEWSFEED       -->
          <td style="width: 50%">
            <div class="row col-12 mb-3">
              <div class="col-12 mb-3">
               <div class="card">
                  <div class="card-body">
                    <h3>Create new post:</h3>
                    <form action="#" method="POST">
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" rows="5" id="message" placeholder="Enter your message"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="tags">Tag users</label>
                            <input type="text" class="form-control" id="tags" name="tags" placeholder="Enter people's name">
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="submit($event)">Submit</button>
                    </form>
                  </div>
               </div>
               </div>
            </div>

            <div class="row" *ngFor="let post of posts">
              <div class="col-12 mb-3">
              <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{post.creator}}</h5>
                    <p class="card-text">{{post.content}}</p>
                    <div class="timestampComment">By Zhong Xi on 11 April 12:50</div>
                    <button class="btn btn-info">Angie</button>
                    <button class="btn btn-info">Leandre</button>
                    <button class="btn btn-info">Anoushe</button>
                    <button class="btn btn-danger pull-right" (click)="like(post.id)">Like</button>
                    <br>
                    <a class="card-link">11 April 2019</a>
                    <a class="card-link">25 <span class="glyphicon glyphicon-search"></span> Likes</a>
                    <div *ngFor="let comment of comments[post.id]" class="inline">
                		<a class="card-link">{{comment.content}}</a>
                		<hr>
                	</div>
                    <hr>
                    <p>I liked this article</p>
                    <span class="timestampComment">By Angie on 12 April 12:50</span>
                    <hr class="separate">
                    <input class="form-control" id="comment" type="text" placeholder="Comment">
                    <button class="btn btn-danger pull-right" (click)="comment(post.id)">Comment</button>
                  </div>
              </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
  </div>
