.profile-header{
    text-align: center;
    display: block;
}
.profile-header img{
    width: 200px;
    height: 200px;
}
.profile-header button{
    margin-right:.5rem;
}
.profile-header input{
    width:30%;
    margin: 0 auto;
    margin-top:2rem;
}
.card a{
    text-decoration: none;
    font-size:11px;
    color: #28a745;
}
.posts{
    margin-top: 2rem;
    padding: 1rem;
    background: #f4f4f4;
}
.timestampComment{
    font-size: 10px;
}
.separate{
    width: 50%;
}
.card button{
    margin-right: .1rem;
    font-size: 9px;
}
.card button{
    margin-right: .1rem;
}
.card input{
    margin-top: .2rem;
    padding: .1rem;
}
.card{
    margin: 0 auto;
}

.container-fluid{
    margin-top: 1rem;
    background: #f4f4f4;
    padding: 1rem;
}
.row{
    margin-top: 1rem;
}
.center{
    text-align: center;
}
.inline{
    display: inline-block;
}
