<div class="container">
  <ul *ngFor="let user of users" class="list-group">
    <li class="list-group-item">
    {{ user.username }}
    <button type="submit" class="btn btn-danger" value={{item}} (click)="follow(user.id)">Follow</button>
    <button type="button" class="btn btn-warning" (click)="beFriend(user.id)">Friend</button>
    </li>
   </ul>  
</div>
<h6 style="text-align: center">Friends request</h6>
<hr>
<div class="container">
  <ul *ngFor="let request of requests" class="list-group">
    <li class="list-group-item">
    {{ request}}
    <button type="submit" class="btn btn-danger" value={{item}} (click)="accept(request)">Accept</button>
    </li>
   </ul>  
</div>
<h6 style="text-align: center">My friends</h6>
<hr>
<div class="container">
  <ul *ngFor="let friend of friends" class="list-group">
    <li class="list-group-item">
    {{ friend }}
    <button type="submit" class="btn btn-danger" (click)="delete(friend)">Delete</button>
     <button type="submit" class="btn btn-warning" (click)="setConversation(friend)">Chat</button>
    </li>
   </ul>  
</div>

