<div class="container">
    <div class="row profile-header">
      <img src="/assets/avatar.png">
      <p>{{username}}</p>
      <button class="btn btn-success">500 calories burnt</button>
      <button class="btn btn-success">2Km traveled</button>
      <br><br>
      <button class="btn btn-secondary">Add friend</button>
      <button class="btn btn-secondary">Follow</button>
    </div>
    <div class="row posts">
      <h2>Posts</h2>
      <div class="row justify-content-center">
        <div class="row" *ngFor="let post of posts">
          <div class="col-12 mb-3">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{username}}</h5>
                <p class="card-text">{{post.content}}</p>
                <input type="text" id="id" class="hide" value={{post.id}}>
                <div class="timestampComment">By Angela on 11 April 12:50</div>
                <button class="btn btn-info">Angie</button>
                <button class="btn btn-info">Leandre</button>
                <button class="btn btn-info">Anoushe</button>
                <button class="btn btn-danger pull-right" (click)="like($event)">Like</button>
                <br>
                <a class="card-link">11 April 2019</a>
                <a class="card-link">25 <span class="glyphicon glyphicon-search"></span> Likes</a>
                <div *ngFor="let comment of comments[post.id]" class="inline">
                		<a class="card-link">{{comment.content}}</a>
                		<button class="btn btn-danger pull-right" (click)="delete(post.id)">Delete</button>
                		<hr>
                </div>
                <hr>
                <p>I liked this article</p>
                <span class="timestampComment">{{post.created_date}}</span>
                <hr class="separate">
                <input class="form-control" type="text" placeholder="Comment" id="comment" (keydown)="submitComment($event)">
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
