.profile-header{
    text-align: center;
    display: block;
}
.profile-header img{
    width: 200px;
    height: 200px;
}
.profile-header button{
    margin-right:.5rem;
}
.profile-header input{
    width:30%;
    margin: 0 auto;
    margin-top:2rem;
}
.card a{
    text-decoration: none;
    font-size:11px;
    color: #28a745;
}
.posts{
    margin-top: 2rem;
    padding: 1rem;
    background: #f4f4f4;
}
.timestampComment{
    font-size: 10px;
}
.separate{
    width: 50%;
}
.card button{
    margin-right: .1rem;
    font-size: 9px;
}
.card button{
    margin-right: .1rem;
}
.card input{
    margin-top: .2rem;
    padding: .1rem;
}
.search{
    margin-top: .2rem;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 6px;

}
.addContainer{
    margin-top: 1rem;
    text-align: center;
    background: #f4f4f4;
    margin-bottom: -2rem;
}
.add{
    margin-top: 1rem;
    border-radius: 100%;
    background: #28a745;
    color: white;
    text-align: center;
    border: 0;
    padding: .6rem;
    padding-right: .6rem;
    padding-left: .6rem;
    margin: 0 auto;
    width: 4%;
}
.btn-danger{
    margin-top: 1rem;
    margin-left: 5rem;
}