<div class="container">
  <br>
    <div class="row profile-header">
      <img src="/assets/avatar.png">
      <br><br>
      <h2>{{username}}</h2>
      <br>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Friends</th>
            <th scope="col">Followers</th>
            <th scope="col">Following</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{friends.length}}</td>
            <td>{{followers.length}}</td>
            <td>{{followees.length}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h6 class="text-success" id="success" style="text-align:center;"></h6>
  <br><br>
  <h3 style="text-align: center">Posts</h3>
  <div class="row posts">
      <div class="row justify-content-center">
        <div class="row" *ngFor="let post of posts">
              <div class="col-12 mb-3">
              <div class="card">
                  <div class="card-body">
                    <button class="btn btn-danger pull-right" (click)="deletePost(post.id)">Delete post</button>
                    <p class="card-text">{{post.content}}</p>
                    <a>{{likesLength}} likes</a>
                    <div class="timestampComment"> {{post.created_date}}</div>

                    <div *ngFor="let tag of tags[post.id]">
                      <button class="btn btn-info">{{usersObject[tag.user_id]}}</button>
                    </div>
                    <br>
                    <hr>
                    <div class="row" *ngFor="let comment of comments[post.id]" class="inline">
                      <p style="display:block"><b>{{usersObject[comment.creator]}}</b>: {{comment.content}}</p>
                      <div class="timestampComment"> {{comment.created_date}}</div>
                		<hr>
                	</div>
                    <input class="form-control" id={{post.id}} type="text" placeholder="Comment">
                    <br>
                    <button class="btn btn-danger pull-right" (click)="submitComment(post.id)">Comment</button>
                  </div>
              </div>
              </div>
            </div>
      </div>
    </div>
  </div>
