<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anti-Cyberbullying Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <br><br>

    <div class="container">
        <h1>Anti-Cyberbullying Service</h1>

        <br><br>

        <h2>Add a new bad word</h2>

        <form action="/anti_cyberbullying" method="POST">
            <div class="form-group">
                <label for="word">Bad word</label>
                <input type="text" class="form-control" name="word" placeholder="Enter bad words (seperate with a space)">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <br><br>

        <h2>All bad words</h2>

        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Bad word</th>
            </tr>
          </thead>
          <tbody>
            {% for word in words %}
            <tr>
              <th scope="row">{{ word.id }}</th>
              <td>{{ word.word}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

</body>
</html>